{% extends "base.html" %}
{% block title %}SolarPI Dashboard{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <style>
        .chart-tab {
            min-height: 80vh;
        }
    </style>
{% endblock %}
{% block navbar %}
    <div class="d-flex">
        <a class="btn btn-link text-decoration-none me-2" href="/settings/">Settings</a>
        <form method="GET" accept-charset="utf-8" class="d-flex">
            <select name="p" class="form-select me-2"  onchange="this.form.submit()"/>
                <option value="" {% if not selected_peroid %}selected{% endif %}>Day</option>
                <option value="1440" {% if selected_peroid == 1440 %}selected{% endif %}>24 hrs</option>
                <option value="720" {% if selected_peroid == 720 %}selected{% endif %}>12 hrs</option>
                <option value="360" {% if selected_peroid == 360 %}selected{% endif %}>6 hrs</option>
                <option value="180" {% if selected_peroid == 180 %}selected{% endif %}>3 hrs</option>
                <option value="60" {% if selected_peroid == 60 %}selected{% endif %}>1 hr</option>
                <option value="30" {% if selected_peroid == 30 %}selected{% endif %}>30 min</option>
                <option value="15" {% if selected_peroid == 15 %}selected{% endif %}>15 min</option>
                <option value="10" {% if selected_peroid == 10 %}selected{% endif %}>10 min</option>
                <option value="5" {% if selected_peroid == 5 %}selected{% endif %}>5 min</option>
            </select>
            <input name="d" class="form-control" type="date" value="{{selected_date}}" onchange="this.form.submit()"/>
        </form>
    </div>
{% endblock %}
{% block content %}
    <div class="main-content container-fluid">
        <div class="row mt-2 g-2">
            <div class="col-lg-2" id="sidebar">{% include "sidebar.html" %}</div>
            <div class="col-lg-10">
                <div class="bg-white shadow-sm border rounded p-3">
                    <ul class="nav nav-underline mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="power-tab" data-bs-toggle="pill" data-bs-target="#power-tab-content" type="button" role="tab" aria-controls="power-tab-content" aria-selected="true">
                                Power
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="voltages-tab" data-bs-toggle="pill" data-bs-target="#voltages-tab-content" type="button" role="tab" aria-controls="voltages-tab-content" aria-selected="false">
                                Voltage & Current
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="soc-tab" data-bs-toggle="pill" data-bs-target="#soc-tab-content" type="button" role="tab" aria-controls="soc-tab-content" aria-selected="false">
                                Battery SOC
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="temp-tab" data-bs-toggle="pill" data-bs-target="#temp-tab-content" type="button" role="tab" aria-controls="temp-tab-content" aria-selected="false">
                                Temperature
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="energy-tab" data-bs-toggle="pill" data-bs-target="#energy-tab-content" type="button" role="tab" aria-controls="energy-tab-content" aria-selected="false">
                                Daily Energy Production
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="peaks-tab" data-bs-toggle="pill" data-bs-target="#peaks-tab-content" type="button" role="tab" aria-controls="peaks-tab-content" aria-selected="false">
                                Daily Peak Power & Current
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane chart-tab fade show active" id="power-tab-content" role="tabpanel" aria-labelledby="power-tab" tabindex="0">
                            <canvas id="power-chart"></canvas>
                        </div>
                        <div class="tab-pane chart-tab fade" id="voltages-tab-content" role="tabpanel" aria-labelledby="voltages-tab" tabindex="0">
                            <canvas id="voltages-chart"></canvas>
                        </div>
                        <div class="tab-pane chart-tab fade" id="temp-tab-content" role="tabpanel" aria-labelledby="temp-tab" tabindex="0">
                            <canvas id="temp-chart"></canvas>
                        </div>
                        <div class="tab-pane chart-tab fade" id="soc-tab-content" role="tabpanel" aria-labelledby="soc-tab" tabindex="0">
                            <canvas id="soc-chart"></canvas>
                        </div>
                        <div class="tab-pane chart-tab fade" id="energy-tab-content" role="tabpanel" aria-labelledby="energy-tab" tabindex="0">
                            <canvas id="energy-chart"></canvas>
                        </div>
                        <div class="tab-pane chart-tab fade" id="peaks-tab-content" role="tabpanel" aria-labelledby="peaks-tab" tabindex="0">
                            <canvas id="peaks-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
     {{ super() }}
    <script src="/static/chart.js"></script>
    <script src="/static/moment.min.js"></script>
    <script src="/static/chartjs-adapter-moment.js"></script>
    <script>
        const charts = {
            power: {
                chart: null,
                data: {{power_chart|safe}},
            },
            voltages: {
                chart: null,
                data: {{voltages_chart|safe}},
            },
            soc: {
                chart: null,
                data: {{soc_chart|safe}},
            },
            temp: {
                chart: null,
                data: {{temp_chart|safe}},
            },
            energy: {
                chart: null,
                data: {{energy_chart|safe}},
            },
            peaks: {
                chart: null,
                data: {{peaks_chart|safe}},
            },
        };
        for (let key in charts) {
            document.getElementById(`${key}-tab`).addEventListener('shown.bs.tab', event => {
                if (!charts[key].chart) {
                    const ctx = document.getElementById(`${key}-chart`);
                    charts[key].chart = new Chart(ctx, charts[key].data);
                }
            });
        }
        // Load first chart
        charts.power.chart = new Chart(document.getElementById(`power-chart`),  charts.power.data);

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function updateSidebar() {
            const sidebar = document.getElementById('sidebar');
            while (true) {
                try {
                    const response = await fetch("/api/sidebar/", {method: "get"});
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    sidebar.innerHTML = await response.text();
                } catch (error) {
                    console.log(error);
                }
                await sleep(1000);
            }
        }
        setTimeout(updateSidebar, 1000);

        async function updateCharts() {
            let t = {{state.timestamp}} + 1;
            while (true) {
                try {
                    const response = await fetch(`/api/charts/${t}/`, {method: "get"});
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    const updates = await response.json();

                    for (let key in charts) {
                        if (key in updates) {
                            const data = updates[key];
                            if (!charts[key].chart) {
                                // Chart was not yet shown update the data
                                const chart = charts[key].data;
                                chart.data.labels.push(...data.labels);
                                chart.data.datasets.forEach((dataset, i) => {
                                    const ds = data.datasets[i];
                                    dataset.data.push(...ds.data);
                                });
                            } else {
                                const chart = charts[key].chart;
                                // Convert back to integer
                                t = Math.round(data.labels[data.labels.length - 1]/1000)+1;
                                chart.data.labels.push(...data.labels);
                                chart.data.datasets.forEach((dataset, i) => {
                                    const ds = data.datasets[i];
                                    dataset.data.push(...ds.data);
                                });
                                chart.update();
                            }
                        }
                    }

                } catch (error) {
                    console.log(error);
                }
                await sleep(5000);
            }
        }
        {% if is_today %}
            setTimeout(updateCharts, 5000);
        {% endif %}
    </script>
{% endblock %}
