[Unit]
Description=SolarPI Web App
After=network.target

[Service]
ExecStart=/usr/bin/python -m solarpi.app
WorkingDirectory=/opt/solar-pi/
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
